<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_STORE_DIR" value="logs" />
    <property name="LOG_ROLLING_DIR" value="logs/rolling" />
    <property name="LOG_NAME" value="server" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger{36}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_STORE_DIR}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--일 단위로 로그 남김-->
            <fileNamePattern>${LOG_ROLLING_DIR}/%d{yyyy-MM-dd}</fileNamePattern>
            <!--5일 지난 로그는 자동 지우기-->
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger{36}] - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>